<h1>{{title}}</h1>

<form action="/register" method="POST">
    <div>
        <label for="username">Create a Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <br>
    <div>
        <label for="password">Create a Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>